nav {
    background-color: red;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 50px;
}

nav ul li {
    display: inline-block;
    color: blue;
    font-weight: bold;
    margin-right: 20px;
}

nav ul {
    text-align: right;
}

body {
    background-color: blue
}

.center{
    margin: auto;
    width: 60%;
    border: 3px solid green;
    padding: 10px;
}

.center{
    text-align: center;
}