nav {
    background-color: red;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 50px;
}

nav ul li {
    display: inline-block;
    color: blue;
    font-weight: bold;
    margin-right: 20px;
}

nav ul {
    text-align: right;
}

body {
    background-color: blue
}

.center {
    margin: 0 auto;
    width: 200px;
    padding: 20px;
    background: white;
    border: 2px solid black;
    text-align: center;
}


input {
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-style: 8px solid black;
    border-radius: 15px;
}

h1 {
    text-color: black;
    text-align: center;
    text-size: 20pt;
}

img {
    width: 40px;
    height: 40px;
}