nav {
    background-color: red;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 50px;
}

nav ul li {
    display: inline-block;
    color: blue;
    font-weight: bold;
    margin-right: 20px;
}

nav ul {
    text-align: right;
}

form {
    
}